.line-clamp-3 {
    -webkit-line-clamp: 3;
}

.font-reading {
    font-family: 'Open Sans', sans-serif;
}
.font-reading > p {
    font-family: 'Open Sans', sans-serif;
}

.markdown-content {
    @apply mb-16;
}

.markdown-content > * {
    @apply mb-4 leading-snug font-reading;
}

.markdown-content > h1 {
    @apply mb-8 font-bold text-2xl;
}

.markdown-content > h2 {
    @apply pt-4 mb-6 font-bold text-xl;
}

.markdown-content > ul {
    @apply ml-4 mb-8;
}

.markdown-content > ul > li {
    @apply mb-4 font-reading;
}